<!doctype html>
<!--
	Author by FreeHTML5.co
	Twitter: https://twitter.com/fh5co
	Facebook: https://fb.com/fh5co
	URL: https://freehtml5.co
-->
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="static/css/slick.css">
	<title>Geoff Poole</title>
	<link rel="shortcut icon" href="favicon.ico">
</head>
<body>
	<!-- Top banner -->
	<section class="fh5co-top-banner">
		<div class="top-banner__inner site-container">
			<div class="top-banner__image">
				<img src="./static/images/top-banner-author.jpg" alt="author image">
			</div>
			<div class="top-banner__text">
				<div class="top-banner__text-up">
					<span class="brand-span">Hello! I'm</span>
					<h2 class="top-banner__h2">Geoff</h2>
				</div>
				<div class="top-banner__text-down">
					<h2 class="top-banner__h2">Poole</h2>
					<span class="brand-span">Traveler, Purdue Boilermaker, Technologist</span>
				</div>
			</div>
		</div>
	</section>
	<!-- Top banner end -->

	<!-- About me -->
	<section class="fh5co-about-me">
		<div class="about-me-inner site-container">
			<article class="portfolio-wrapper">
				<div class="portfolio__img">
					<img src="./static/images/about-me.jpg" class="about-me__profile" alt="about me profile picture">
				</div>
				<div class="portfolio__bottom">
					<div class="portfolio__name">
						<span>G</span>
						<h2 class="universal-h2">eoff Poole</h2>
					</div>
					<p>Geoff Poole is a traveler, Purdue Boilermaker alum, and technologist.</p>
				</div>
			</article>
			<div class="about-me__text">
				<div class="about-me-slider">
					<div class="about-me-single-slide">
						<h2 class="universal-h2 universal-h2-bckg">About me</h2>
						<p font-size: 18px;><span>H</span> e has worked as a Hardware Engineer, Software Engineer, and Solution Architect. He is also a advid fan of traveling, when work and weather permit.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="about-me-bckg"></div>
	</section>
	<!-- About me end -->

	<!-- Counter -->
	<div class="fh5co-counter counters">
		<div class="counter-inner site-container">
			<div class="single-count">
				<span class="count" data-count="3">0</span>
				<div class="single-count__text">

					<p>Udacity Nanodegrees</p>
				</div>
			</div>
			<div class="single-count">
				<span class="count" data-count="3">0</span>
				<div class="single-count__text">
					<p>Advanced Azure Certifications</p>
				</div>
			</div>
			<div class="single-count">
				<span class="count" data-count="32">0</span>
				<div class="single-count__text">
					<p>States visited</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Counter -->
	<!-- Footer -->
	<footer class="site-footer">
		<div class="site-container">
			<div class="footer-inner">
				<div class="footer-info">
					<div class="footer-info__left">
						<img src="./static/images/footer-img.jpg" alt="about me image">
					</div>
				</div>
				<div>
					<h5>Get In Touch</h5>
					<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
					<div class="badge-base LI-profile-badge" data-locale="en_US" data-size="small" data-theme="dark" data-type="HORIZONTAL" data-vanity="geoffop" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/geoffop?trk=profile-badge"></a></div>
		  
				</div>
				
				<!-- <div class="footer-contact-form">
					<h5>Contact Form</h5>
					<form class="contact-form">
						<div class="contact-form__input">
							<input type="text" name="name" placeholder="Name">
							<input type="email" name="email" placeholder="Email">
						</div>
						<textarea></textarea>
						<input type="submit" name="submit" value="Submit" class="submit-button">
					</form>
				</div>
			-->
			</div>
		</div>
	</footer>
	<!-- Footer end -->

	<!-- Scripts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script src="static/js/main.js"></script>

</body>
</html>